#bg {
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 7200px;
    background-image: url(../images/bg.png);
    background-repeat: repeat;
    display: none;
}

/*1. Header */
#nav-top {
    top: -100px;
}

/*2. Logo section*/
#wrapper {
    margin-left: 20%;
}

#wrapper .logo {
    float: left;
}

#wrapper .logo img {
    width: 250px;
    margin-top: 15%;
}

#wrapper h1 span {
    display: block;
}

#wrapper .company-name {
    float: left;
    margin-left: 5%;
    padding: 5px;
}

#title {
    padding-right: 20vh;
    font-family: FireUp !important;
    color: #d4d4d4;
    font-size: 80px;
}

#wrapper:after {
    content: " ";
    clear: both;
    display: table;
}

/*3. Sub-logo section*/
#intro-content {
    line-height: 30px;
    padding-left: 30vh;
    padding-top: 80px;
    color: #d4d4d4;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 20px;
}

#intro-content span {
    display: block;
}

#intro-content span:nth-of-type(1) {
    text-indent: 8%;
}

#intro-content span:nth-of-type(2) {
    text-indent: 11%;
}

#intro-content span:nth-of-type(3) {
    text-indent: 14%;
}

#intro-content span:nth-of-type(4) {
    text-indent: 17%;
}

#intro-content span:nth-of-type(5) {
    text-indent: 20%;
}

#intro-content span:nth-of-type(6) {
    text-indent: 23%;
}

/*5. Sections*/
.parallax-section {
    width: 20%;
    float: left;
    height: 100vh;
    display: none;
    position: relative;
}

/*5.1 Section One*/
#one {
    padding: 6.25em 0 10.63em 0;
    height: 100vh;
}

/* test for parallax */
#two .layer-one, #two .layer-two, #two .layer-three {
    position: absolute;
    font-size: 50px;
    line-height: 50px;
    width: 300px;
    top: 50%;
    text-align: center;
    color: #133f71;
}

#two {

}

#three {

}

#four {

}

#five {

}

/* side nav*/

nav {
    display: none;
    position: fixed;
    left: 10px;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: left;
    z-index: 100;
}

nav a {
    display: block;
    line-height: 25px;
    position: relative;
    padding-right: 20px;
    color: #ffffff;
    text-decoration: none !important;
}

nav a:hover .nav-label {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    color: #ac2925;
}

.nav-hover {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    color: #ac2925;
}

nav .nav-dot {
    margin-left: 20px;
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

nav .nav-label {
    display: block;
    opacity: 0.5;
    visibility: hidden;
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
    -webkit-transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
    transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
    margin-left: 50px;
}

nav.is-dark a {
    color: #212121;
}

nav.is-dark .nav-dot {
    background-color: rgba(0, 0, 0, 0.5);
}

nav.is-light a {
    color: #ffffff;
}

nav.is-light .nav-dot {
    background-color: rgba(255, 255, 255, 0.5);
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    width: auto;
    list-style: none;
}

/* bottom nav */
.navigator {
    position: fixed;
    width: 30%;
    left: 34%;
    bottom: -20px;
    z-index: 99999;
}

.navigator .timeline {
    width: 100%;
    height: 1px;
    background-color: white;
}

.navigator .timeline {
    width: 100%;
    height: 1px;
    background-color: white;
}

.tm {
    transition: all 0.2s ease-out;
    width: 26px;
    height: 26px;
    border: 8px solid #ffffff;
    border-radius: 50%;
    background-color: #203240;
    position: absolute;
    top: -13px;
}

.a-active div, .tm-active, .tm:hover {
    border: 13px solid #ffffff;
}

.tm-one {
    left: 0;
}

.tm-two {
    left: 25%;
}

.tm-three {
    left: 50%;
}

.tm-four {
    left: 75%;
}

.tm-five {
    left: 100%;
}

.tm-captions {
}

.cp {
    position: absolute;
    top: 20px;
    float: left;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 14px;
    color: whitesmoke;
    text-transform: uppercase;
    text-align: center;
    width: 25%;
    overflow: hidden;
}

.cp:after, .tm-captions {
    content: " ";
    display: table;
    clear: both;
}

.cp-one {
    left: -8.5%;
}

.cp-two {
    left: 15.5%;
}

.cp-three {
    left: 41.5%;
}

.cp-four {
    left: 66.5%;
}

.cp-five {
    left: 91.5%;
}